
body {
    background-image: url("../image/bg.jpg");
    background-color: #fff;
    font-family: "Times New Roman", Times, serif;
    background-repeat: repeat;
    font-size: 20px;
}

.container {
	text-align: center;
	padding: 30px 30px 0 30px;
}

.container ul {
	width: 500px;
    margin: 0 auto;
}

.container .published_papers ul {
	width: 100%;
    margin: 0 auto;
}

.container li {
	text-align: left;
}

.container .introduction {
	text-align: left;
	padding: 0 50px;
}

.container .photo img {
	width: 120px;
    height: 140px;
}